<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="group1.android.calculatorkit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalculatorKit">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SimpleCalculatorActivity"></activity>
        <activity android:name=".GeometryCalculatorActivity"></activity>
        <activity android:name=".MatrixCalculatorActivity"></activity>
        <activity android:name=".ConversionCalculatorActivity"></activity>
        <activity android:name=".AreaSurfaceAreaAndVolumeActivity"></activity>
        <activity android:name=".IntersectionsActivity"></activity>
        <activity android:name=".DistanceActivity"></activity>
        <activity android:name=".AnglesActivity"></activity>
        <activity android:name=".AnglesTriangleActivity"></activity>
        <activity android:name=".AnglesQuadrilateralActivity"></activity>
        <activity android:name=".AnglesPentagonActivity"></activity>
        <activity android:name=".AnglesHexagonActivity"></activity>
    </application>

</manifest>